body{margin:0;overflow:hidden;background:#050000;font-family:Arial;color:white}

#menu{position:fixed;inset:0;display:flex;justify-content:center;align-items:center;background:black}
.panel{text-align:center}

button{padding:15px 30px;font-size:20px}

#hud{position:fixed;top:10px;left:10px}

#crosshair{
position:fixed;top:50%;left:50%;
width:20px;height:20px;transform:translate(-50%,-50%);
}
#crosshair::before,#crosshair::after{
content:"";position:absolute;background:white;
}
#crosshair::before{width:20px;height:2px;top:9px}
#crosshair::after{width:2px;height:20px;left:9px}

#hitmarker{
position:fixed;top:50%;left:50%;
transform:translate(-50%,-50%) scale(.5);
font-size:40px;opacity:0;transition:.1s;
}

#feed{
position:fixed;right:10px;top:100px;
}
.feedItem{
background:rgba(0,0,0,.6);
margin:5px;padding:5px;
}